body{
	text-align: center;
	color: #000000;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}   
p{
	font-size: 25px;
}
h2{
	font-size: 40px;
}
h1{
	font-size: 100px
}